/* -------------- Landing Page ------------- */

#landing-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-no-header {
  margin-top: 10vh;
}

#landing-text-title {
  line-height: 12vh;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #4f4f4f;
  width: 10vw;
  font-size: 10vh;
  /* pretty sure I should use em/rem*/
  margin-bottom: 0;
}

.landing-text-subtitle {
  font-family: Josefin Sans, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #378199;
  font-size: 3.5vh;
  /* pretty sure I should use em/rem*/
  margin-top: 0;
  margin-left: 0.5vh;
}
